/*新增旅客*/
*{
    -webkit-tap-highlight-color: transparent;
}
.header_top .delete{
	position: absolute;
	right: 0.4rem;
	top: 0;
	height: 1.28rem;
	line-height: 1.28rem;
	color: #00b7ee;
	font-size: 0.426666rem; 
}
.passenger-list{
	background: #fff;
	margin: 0.266666rem 0 0 0;
}
.passenger-list > ul{
	width: 9.2rem;
	margin: 0 auto;
}
.passenger-list > ul li{
	height: 1.306666rem;
	border-bottom: 1px solid #e6e6e6;
	display: -webkit-box;
	display: -moz-box;
}
.passenger-list > ul li.last-li{
	border-bottom: none;
}
.passenger-list > ul li .item-hd{
	display: block;
    width: 2.266666rem;
    font-size: 0.426666rem;
    overflow: hidden;
    line-height: 1.3rem;
}
.passenger-list > ul li .write-info{
	display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    vertical-align: top;
    border: 0;
    font-size: 0.373333rem;
    background: transparent;
    line-height: 1.3rem;
}
.passenger-list > ul li .write-info::-webkit-input-placeholder{
	color: #cccccc;
}
.passenger-list > ul li .sex-choose{
	display: block;
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    vertical-align: top;
}
.sex-choose > em {
    color: #e5e5e5;
    display: inline-block;
    width: 1.84rem;
    height: 0.826667rem;
    line-height: 0.826667rem;
    margin: 0.24rem 0.333333rem 0 0;
    text-align: center;
    font-size: 0.373333rem;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    background: #fff;
}
.sex-choose .men .ico {
    display: inline-block;
    width: 0.36rem;
    height: 0.36rem;
    vertical-align: middle;
    margin: -0.106667rem 0.24rem 0 0;
    background: url(../images/man-icon.png) center no-repeat;
    background-size: contain;
}
.sex-choose .women .ico {
    display: inline-block;
    width: 0.266667rem;
    height: 0.426667rem;
    vertical-align: middle;
    margin: -0.106667rem 0.24rem 0 0;
    background: url(../images/woman-icon.png) center no-repeat;
    background-size: contain;
}
.sex-choose .men.on{
    color: #fff;
    border: 1px solid #87d2fa;
    background: #87d2fa
}
.sex-choose .men.on .ico{
    background: url("../images/man-active-icon.png") center no-repeat;
    background-size: contain;
}
.sex-choose .women.on{
    color: #fff;
    border: 1px solid #fab0af;
    background: #fab0af;
}
.sex-choose .women.on .ico{
    background: url("../images/woman-active-icon.png") center no-repeat;
    background-size: contain;
}
.passenger-list > ul li .cert-type{
	display: block;
	position: relative;
    line-height: 1.3rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    font-size: 0.373333rem;
}
.passenger-list > ul li .cert-type i{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -0.226666rem;
	width: 0.24rem;
	height: 0.453333rem;
	background: url(../images/arrow-rig-icon.png) no-repeat;
	background-size: contain;
}
.foo-box{
    width: 10rem;
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    z-index: 11;
    margin-left: -5rem;
    background: rgba(0,0,0,.6);
}
.tc-container{
    position: absolute;
    top: 50%;
    right: 0.4rem;
    left: 0.4rem;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    background: #fff

}
.tc-tit-bar{
    height: 1.28rem;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    background: #f4f8f9
}
.tc-tit-bar .bt{
    color: #666;
    display: inline-block;
    height: 1.28rem;
    line-height: 1.28rem;
    padding: 0 0.4rem;
    font-size: 0.426667rem
}
.tc-tit-bar .close-icon{
    display: inline-block;
    width: 0.32rem;
    height: 0.32rem;
    position: absolute;
    right: 0.4rem;
    top: 50%;
    margin-top: -0.16rem;
    background: url(../images/close-icon.png) no-repeat;
    background-size: contain;
}
.tc-wrapper{
    max-height: 10.666667rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.tc-wrapper li{
    height: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    border-bottom: 1px solid #e6e6e6
}
.tc-wrapper li .item{
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 0 1rem 0 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.426667rem
}
.tc-wrapper li .radio-btn{
    display: inline-block;
    width: 0.373334rem;
    height: 0.373334rem;
    position: absolute;
    top: 50%;
    right: 0.4rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../images/check-label-icon-un.png") center no-repeat;
    background-size: contain;
}
.tc-wrapper li.active .radio-btn{
    background: url("../images/check-label-icon-on.png") center no-repeat;
    background-size: contain;
}
/*错误提示*/
.erro-msg-txt{
	position: fixed;
	z-index: 99;
	left:50%;
	margin-left: -4.333333rem;
	top: 50%;
	width: 8.666666rem;
	margin-top: -0.466666rem;
	height: 0.933333rem;
	background: rgba(0,0,0,0.6);
	padding: 0 0.4rem;
	color: #fff;
	border-radius: 5px;
	line-height: 0.933333rem;
	text-align: center;
	font-size: 0.373333rem;
}
/*保存*/
.save-btn-box{
	position: fixed;
	bottom: 0.266666rem;
	width: 9.466666rem;
	left: 50%;
	margin-left: -4.733333rem;
	height: 1.04rem;
	line-height: 1.04rem;
	color: #fff;
	text-align: center;
	font-size: 0.426666rem;
	background: #ff8a00;
	border-radius: 5px;
}
/*常用旅客*/
.header_top .add-link{
	position: absolute;
	right: 0.4rem;
	top: 0;
	line-height: 1.28rem;
	font-size: 0.426666rem;
	color: #00b7ee;
}
.passenger-all-list .item h4{
	height: 0.773333rem;
	line-height: 0.773333rem;
	overflow: hidden;
	font-size: 0.373333rem;
	color: #969696;
	padding: 0 0.4rem;
}
.passenger-all-list .item ul{
	background: #fff;
}
.passenger-all-list .item ul li{
	position: relative;
	height: 1.706666rem;
	padding: 0 0.4rem;
	border-bottom: 1px solid #e5e5e5;
}
.passenger-all-list .item ul li.last-li{
	border-bottom: none;
}
.passenger-all-list .item ul li .info{
	float: left;
	width: 8.133333rem;
	height: 1.706666rem;
}
.passenger-all-list .item ul li .info .tp{
	padding: 0.226666rem 0 0 0;
}
.passenger-all-list .item ul li .info .tp strong{
	float: left;
	font-size: 0.373333rem;
	line-height: 0.64rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.passenger-all-list .item ul li .info .tp strong.name{
	width: 2.4rem;
}
.passenger-all-list .item ul li .info .tp strong.sex{
	width: 5.733333rem;
}
.passenger-all-list .item ul li .info .bp span{
	float: left;
	font-size: 0.32rem;
	color: #969696;
	line-height: 0.533333rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.passenger-all-list .item ul li .info .bp span.tel{
	width: 2.4rem;
	height: 0.48rem;
}
.passenger-all-list .item ul li .info .bp span.type{
	width: 2.133333rem;
}
.passenger-all-list .item ul li .info .bp span.card{
	width: 3.6rem;
}
.passenger-all-list .item ul li .edit-btn{
	position: absolute;
	top: 50%;
	margin-top: -0.173333rem;
	right: 0.466666rem;
	width: 0.346666rem;
	height: 0.346666rem;
	background: url(../images/edit-linkman-icon.png) no-repeat;
	background-size: contain;
}
.passenger-all-list .item ul li .edit-btn:after{
	content: "";
	position: absolute;
	left: -0.373333rem;
	width: 1px;
	height: 0.906666rem;
	background: #f2f2f2;
	top: 50%;
	margin-top: -0.453333rem;
}
/*加载*/
.onload-box{
	padding: 0.28rem 0;
}
.onloading,.network-erro{
	text-align: center;
	color: #c8c8c8;
	font-size: 0.333333rem;
	padding: 0.08rem 0;
}
.onloading i{
	display: inline-block;
	vertical-align: middle;
	width: 0.426666rem;
	height: 0.426666rem;
	background: url(../images/onload.gif) no-repeat;
	background-size: contain;
	margin: -0.03rem 0.2rem 0 0;
}
.network-erro i{
	width: 0.426666rem;
	height: 0.32rem;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/wifi-ico.png) no-repeat;
	background-size: contain;
	margin: -0.03rem 0.2rem 0 0;
}
.no-passenger{
	text-align: center;
	color: #999999;
	font-size: 0.373333rem;
}
.no-passenger i{
	display: block;
	margin: 0.2rem auto;
	width: 2.04rem;
	height: 2.453333rem;
	background: url(../images/no-linkman-icon.png) no-repeat;
	background-size: contain;
}

/*常用旅客编辑*/
.header_top .sure-link{
	position: absolute;
	right: 0.4rem;
	top: 0;
	line-height: 1.28rem;
	font-size: 0.426666rem;
}
.passenger-prompt{
	background: #00b8ee;
	padding: 0.16rem 0.4rem;
	line-height: 0.586666rem;
	color: #fff;
	font-size: 0.373333rem;
}
.passenger-all-list .item ul li .check-box{
	float: left;
	width: 0.614rem;
    height: 0.614rem;
    margin: 0.546666rem 0.453333rem 0 0;
    background: url(../images/check-un-ico.png) no-repeat;
    background-size: contain;
}
.passenger-all-list .item ul li .check-box.on{
	background: url(../images/check-on-ico.png) no-repeat;
    background-size: contain;
}
/*预定页*/
.block-item li > span.common{
	text-align: right;
	color: #969696;
	font-size: 0.373333rem;
	cursor: pointer;
}
.block-item li > span.common i{
	display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    vertical-align: middle;
    margin: -0.03rem 0.1rem 0 0;
    background: url(../images/check-un-ico.png) no-repeat;
    background-size: contain;
}
.block-item li > span.common.on i{
	background: url("../images/check-on-ico.png") no-repeat;
    background-size: contain;
}
