.pay-status-bar{
	padding: 0.6rem 0 0.6rem 1rem;
	background: #ff571b
}
.pay-status-bar .status-txt{
	color: #fff;
	font-size: 0.426667rem
}
.pay-status-bar .status-icon{
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	vertical-align: middle;
	margin: -0.08rem 0.2rem 0 0
}
.pay-status-bar .status-icon.success-icon{
	background: url(../images/pay-success-icon.png) center no-repeat;
	background-size: contain;
}
.pay-status-bar .status-icon.fail-icon{
	background: url(../images/pay-fail-icon.png) center no-repeat;
	background-size: contain;
}

.pay-info-block{
}
.pay-info-block .info-list{
	padding: 0 0.4rem;
	background: #fff
}
.pay-info-block .info-list>li{
	display: -webkit-box;
	display: -moz-box;
	border-bottom: 1px solid #e6e6e6
}
.pay-info-block .info-list>li:last-child{
	border-bottom: 0
}
.pay-info-block .info-list .hd{
	width: 2.0rem;
	height: 1.066667rem;
	line-height: 1.066667rem;
	font-size: 0.373333rem
}
.pay-info-block .info-list .bd{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	line-height: 1.066667rem;
	font-size: 0.373333rem
}
.pay-info-block .info-list .bd .total{
	color: #ff6c1a;
	font-size: 0.426667rem;
}

.pay-back-bar{
	padding: 0.64rem 0;
	text-align: center;
	font-size: 0
}
.pay-back-bar .b-link{
	color: #666;
	display: inline-block;
	padding: 0.2rem 0.6rem;
	margin: 0 0.2rem;
	border: 1px solid #ccc;
	-webkit-border-radius: 0.1rem;
	border-radius: 0.1rem;
	font-size: 0.373333rem
}

.pay-ad-block{
	padding: 0 0.4rem
}
.pay-ad-block .item{
	display: block;
	height: 3.333333rem;
	position: relative;
}
.pay-ad-block .item .num{
	color: #e52214;
	display: block;
	width: 1.6rem;
	position: absolute;
	left: 3.25rem;
	top: 0.4rem;
	text-align: center;
	font-size: 0.533333rem;
	font-weight: bold;
}
.pay-ad-block .item img{
	max-width: 100%;
	max-height: 100%
}